<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	    <connectionStrings>
            <add name="ThamMyVien_Report" connectionString="Data Source = laptop-rn7v3fhi\duc_anh_1808;
				                                            Initial Catalog = Tham_My_Vien_TNDA;
															Integrated Security = True"/>
		</connectionStrings>
</configuration>